.aboutPage{
    padding-top: 60px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(32, 31, 29);
}
.innerAboutPage{
    width: 90%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;

    .aboutTextContent{
        width: 48%;
        cursor: default;
        h1{
            width: 100%;
            text-align: center;
        }
        .typer{
            margin-left: 9px;
        }
        p{
            color: rgb(32, 31, 29);
            padding: 20px;
            font-size: 22px;
            line-height: 32px;
            font-weight: bold;
            margin: 0 auto;
        }
    }

    .aboutSkillContainer{
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .wavySkill{
            position: relative;
            -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
            font-size: 32px;
            cursor: default;
            span{
                position: relative;
                display: inline-block;
                color: black;
                font-weight: bold;
                animation: waviy 1.5s infinite;
                animation-delay: calc(.1s * var(--i));
            }
            @keyframes waviy {
                0%,40%,100% {
                  transform: translateY(0)
                }
                20% {
                  transform: translateY(-20px)
                }
            }
        }

        .skillContentFirst{
            display: flex;
            justify-content: space-around;
            margin-top: 60px;
            width: 50%;

            div{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 70%;
            }

            h1{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                background-color: rgb(0, 0, 0,0.4);
                color: white;
                display: none;
            }

            div:hover h1{
                display: flex;
                cursor: default;
            }
        }

        .skillContentSecond{
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-top: 1%;

            div{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 70%;
            }
            .shortFont{
                font-size: 0.9rem;
            }

            h1{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                background-color: rgb(0, 0, 0,0.4);
                color: white;
                display: none;
            }
            div:hover h1{
                display: flex;
                cursor: default;
            }
        }

        .skillContentThird{
            display: flex;
            justify-content: space-around;
            margin-top: 1%;
            width: 45%;
            div{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 70%;
            }

            h1{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .9rem;
                background-color: rgb(0, 0, 0,0.4);
                color: white;
                display: none;
            }
            div:hover h1{
                display: flex;
                cursor: default;
            }
        }

        .skillContentFourth{
            display: flex;
            justify-content: space-around;
            width: 35%;
            margin-top: 1%;

            div{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 70%;
            }

            h1{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .9rem;
                background-color: rgb(0, 0, 0,0.4);
                color: white;
                display: none;
            }
            div:hover h1{
                display: flex;
                cursor: default;
            }
        }

        .skillContentFifth{
            display: flex;
            justify-content: space-around;
            margin-top: 1%;
            width: 50%;

            div{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto 70%;
            }

            h1{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .9rem;
                background-color: rgb(0, 0, 0,0.4);
                color: white;
                display: none;
            }
            div:hover h1{
                display: flex;
                cursor: default;
            }
        }
    }
}
// animation
.card{
    opacity: 0;
    transition: 500ms;
    transform: translateX(50px);
    filter:blur(5px);
}
.card.show{
    transform: translateX(0);
    opacity: 1;
    filter:blur(0)
}
.text{
    opacity: 0;
    transition: 500ms;
    transform: translateX(-50px);
    filter:blur(5px);
}
.text.textShow{
    transform: translateX(0);
    opacity: 1;
    filter:blur(0)
}
.card:nth-child(1){
    transition-delay: 100ms;
}
.card:nth-child(2){
    transition-delay: 200ms;
}
.card:nth-child(3){
    transition-delay: 300ms;
}
.card:nth-child(4){
    transition-delay: 400ms;
}
.card:nth-child(5){
    transition-delay: 500ms;
}
.card:nth-child(6){
    transition-delay: 600ms;
}


// responsive
@media( max-width: 1220px){
    .innerAboutPage{
        
        .aboutSkillContainer{
            .skillContentFirst{
                width: 60%;
            }
            .skillContentSecond{
                width: 70%;
                h1{
                    font-size: 0.8rem;
                }
            }
            .skillContentThird{
                width: 58%;
                h1{
                    font-size: 0.8rem;
                }
            }
            .skillContentFourth{
                width: 40%;
                h1{
                    font-size: 0.8rem;
                }
            }
            .skillContentFifth{
                width: 40%;
                h1{
                    font-size: 0.8rem;
                }
            }
        }
    }
    
}
@media( max-width: 1080px){
    .innerAboutPage{
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        .aboutTextContent{
            width: 90%;
        }
        .aboutSkillContainer{
            margin-top: 50px;
            width: 100%;
            margin-bottom: 50px;

            .skillContentFirst{
                width: 50%;
            }
            .skillContentSecond{
                width: 60%;
            }
            .skillContentThird{
                width: 48%;
            }
            .skillContentFourth{
                width: 30%;
            }
        }
    }
}

@media( max-width: 620px){
    .innerAboutPage{
        .aboutTextContent{
            width: 100%;
            p{
                font-size: 19px;
            }
        }
        .aboutSkillContainer{
            width: 100%;

            .skillContentFirst{
                width: 55%;
            }
            .skillContentSecond{
                width: 75%;
            }
            .skillContentThird{
                width: 55%;
            }
            .skillContentFourth{
                width: 40%;
            }
        }
    }
    
}
@media( max-width: 460px){
    .innerAboutPage{
        .aboutSkillContainer{
            width: 100%;

            .skillContentFirst{
                width: 70%;
            }
            .skillContentSecond{
                width: 92%;
            }
            .skillContentThird{
                width: 70%;
            }
            .skillContentFourth{
                width: 50%;
            }
        }
    }
}

@media( max-width: 370px){
    .innerAboutPage{
        .aboutSkillContainer{
            width: 100%;

            .skillContentFirst{
                width: 80%;
            }
            .skillContentSecond{
                width: 100%;
            }
            .skillContentThird{
                width: 80%;
            }
            .skillContentFourth{
                width: 60%;
            }
        }
    }
}